
.card-wrapper{
    min-width:345px;
    width:345px;
    height:355px;
    @media screen and (max-width:1350px) {
        min-width:250px;
        width:250px;
    }
    @media screen and (max-width:430px) {
        min-width:inherit 
    }
}

.card {
    &__first-content {
        height:165px;
    }
    &__buttons-container{
        display:flex;
        justify-content: space-around;
        height:50px;
    }
    &__invisible{
        height:0 !important
    } 
}

.modal {
    display:flex;
    flex-direction:column;
    align-items:center;
    @media screen and (max-width:430px) {
        min-width:300px;
        width:auto !important
        
    }
    &__buttons-container {
        display:flex;
        width:100%;
        justify-content:space-around;
        margin-top:50px;
    }
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}

.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.alert-exit {
    opacity: 1;
}

.alert-exit-active {
    animation:300ms delete
}

@keyframes delete {
    0% { transform:scale(1) translate(0)}
    50% {transform:scale(0.8) translate(0);opacity:1}
    100% {transform:scale(0.8) translate(0,-300px);opacity:0}
}
